@{
    ViewData["Title"] = "Orders";
}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Card-->
            <div class="card card-custom">
                <div class="card-header flex-wrap border-0 pt-6 pb-0">
                    <div class="card-title">
                        <h3 class="card-label">
                            Orders
                        </h3>
                    </div>
                </div>
                <div class="card-body">
                    <!--begin: Datatable-->
                    <table class="table table-bordered table-hover table-checkable table-responsive" id="kt_datatable" style="margin-top: 13px !important">
                        <thead>
                            <tr>
                                <th>Order Date</th>
                                <th>User</th>
                                <th>Agent</th>
                                <th>Receipent Address</th>
                                <th>Sender Address</th>
                                <th>Courier Type</th>
                                <th>Tracking Id</th>
                                <th>Status</th>
                                <th>Distance</th>
                                <th>Discount(%)</th>
                                <th>Tax(%)</th>
                                <th>Final Cost</th>
                                <th style="max-width:20%">Actions</th>
                            </tr>
                        </thead>
                    </table>
                    <!--end: Datatable-->
                </div>
            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->
<style>
    .dataTables_filter {
        text-align: right;
    }

        .dataTables_filter label {
            text-align: left;
        }

    #kt_datatable_paginate {
        text-align: right;
    }

    .paging_simple_numbers {
        float: right;
    }
    .label-inline{
        padding:18px !important;
        font-weight:bolder !important;
    }
</style>
@section scripts
{
<script src="~/lib/assets/js/pages/features/miscellaneous/toastr.js"></script>
    <script>
        var isAdmin = '@User.IsInRole("Admin")';


        function getStatus(status) {
            if (status == 1) {
                return "<span class='label label-danger label-inline mr-2'>Booked</span>";
            } else if (status == 2) {
                return "<span class='label label-warning label-inline mr-2'>Picked Up</span>";
            } else if (status == 3) {
                return "<span class='label label-info label-inline mr-2'>In Transit</span>";
            } else if (status == 4) {
                return "<span class='label label-primary label-inline mr-2'>At Destination</span>";
            } else if (status == 5) {
                return "<span class='label label-success label-inline mr-2'>Delivered</span>";
            }
        }
        function getStatusName(status) {
            if (status == 1) {
                return "Booked";
            } else if (status == 2) {
                return "Picked Up";
            } else if (status == 3) {
                return "In Transit";
            } else if (status == 4) {
                return "At Destination";
            } else if (status == 5) {
                return "Delivered";
            }
        }

    $(document).ready(function () {
        var options = {
            ajax: {
                url: "order/GetAllOrders",
                method: "GET",
                dataSrc: ''
            },
            columns: [
                {
                    render: function (data, type, row) {
                        var dt = new Date(row.orderDate);
                        return dt.toLocaleDateString();
                    }

                },
                {
                    render: function (data, type, row) {
                        return "<span title='Mo: " + row.uMobileNo + "'>" + row.uName+"</span>";
                    }
                },
                {
                    render: function (data, type, row) {
                        if (row.aStation==null) {
                            row.aStation="N/A"
                        }
                        if (row.aName==null) {
                            return "<span title='Not Available'>N/A</span>";
                        } else {
                            return "<span title='Mo: " + row.aPhone + "(" + row.aStation + ")'>" + row.aName + "</span>";
                        }
                    }
                },
                {
                    data: "recipientAddress"
                },
                {
                    data: "senderAddress"
                },
                {
                    data: "courierType"
                },
                {
                    data: "trackingId"
                },
                {
                    render: function (data, type, row) {
                        return getStatus(row.status);
                    }
                },
                {
                    data: "distance"
                },
                {
                    data: "discount"
                },
                {
                    data: "tax"
                },
                {
                    data: "finalCost"
                },
                {
                    render: function (data, type, row) {
                        var btns="";
                        if (row.status<5) {
                            if (row.status > 1) {
                                btns += "<a class='btn btn-sm btn-clean btn-icon btnStatusBack' title='Set to " + getStatusName(row.status-1) + "' record-id='" + row.id + "' title='Edit'><i class='la la-arrow-left'></i></a>";
                            }
                            btns += "<a class='btn btn-sm btn-clean btn-icon btnStatusAhead' title='Set to " + getStatusName(row.status+1) + "' record-id='" + row.id + "' title='Edit'><i class='la la-arrow-right'></i></a>";
                            if (isAdmin=="True")
                            {
                                btns += "<a class='btn btn-sm btn-clean btn-icon btnDelete' title='Delete' record-id='" + row.id + "' title='Delete'><i class='la la-trash'></i></a>";
                            }
                        }
                        return btns;
                    }
                }
            ],
        }
        var KtTable = $("#kt_datatable").DataTable(options);

        $("#NewRecord").click(function () {
            clearModalData();
            $("#RecordModalTitle").text("New");
            $("#RecordModal").modal("show");
        });

        $(document).on("click", ".btnStatusBack", function () {
            var btn = $(this);
            $.ajax({
                url: "order/UpdateStatus?id=" + btn.attr("record-id") +"&type=b",
                type: "GET",
                success: function (data) {
                    toastr.success("Updated to " + getStatusName(parseInt(data)));
                    KtTable.ajax.reload();
                },
                error: function (err) {
                    toastr.error("Error: " + err.responseText);
                },
            });
        });

        $(document).on("click", ".btnStatusAhead", function () {
            var btn = $(this);
            $.ajax({
                url: "order/UpdateStatus?id=" + btn.attr("record-id") + "&type=f",
                type: "GET",
                success: function (data) {
                    toastr.success("Updated to " + getStatusName(parseInt(data)));
                    KtTable.ajax.reload();
                },
                error: function (err) {
                    toastr.error("Error: " + err.responseText);
                },
            });
        });

        $(document).on("click", ".btnDelete", function () {
            var btn = $(this);
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "order/DeleteOrders?id=" + btn.attr("record-id"),
                        method: "DELETE",
                        success: function () {
                            console.log("success");
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            );
                            KtTable.ajax.reload();
                        },
                        error: function () {
                            console.log("error");
                            Swal.fire(
                                'Oops!',
                                'Something went wrong.',
                                'error'
                            )
                        }
                    });
                }
            })
        })
    })
    </script>
}