@{ 
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Success</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <style>
        body {
            font-family: Poppins, Helvetica, "sans-serif";
        }

        button:hover {
            color: white;
            background: #f44a40;
        }

        button {
            color: #f44a40;
            border: 1px solid #f44a40;
            background: #fff;
            margin: 5px;
            border-radius: 0px;
            display: inline-block;
            outline: none;
            line-height: 40px;
            padding: 0 30px;
            font-size: .8em;
            text-align: center;
            text-decoration: none;
            font-weight: 500;
            cursor: pointer;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
        }

        .btnHome {
            color: #38a4ff;
            border: 1px solid #38a4ff;
            background: #fff;
        }

            .btnHome:hover {
                color: white;
                border: 1px solid #38a4ff;
                background: #38a4ff;
            }

        .btnOrderMore {
            color: #1f2b7b;
            border: 1px solid #1f2b7b;
            background: #fff;
        }

            .btnOrderMore:hover {
                color: white;
                border: 1px solid #1f2b7b;
                background: #1f2b7b;
            }

        .btnMyOrders {
            color: #616161;
            border: 1px solid #616161;
            background: #fff;
        }

            .btnMyOrders:hover {
                color: white;
                border: 1px solid #616161;
                background: #616161;
            }

        h4 {
            font-weight: 500;
            font-size: 30px;
            color: #7E8299 !important;
        }

        h6 {
            font-weight: 300;
            font-size: 15px;
            color: #7E8299 !important;
        }
    </style>
</head>

<body>
    <center>
        <h4>Transaction Successful</h4>
        <h6>@ViewBag.Message</h6>
        <h6>Thank your for placing order with us. We really appriciate feedback once delivery completed.</h6>
        <h6>Your can track your order with Tracking Id @ViewBag.TrackingId on our site</h6>
        <button class="btnHome" onclick="window.location.href = '../../transaction/getinvoice?tid=@ViewBag.TrackingId'">Download Invoice</button>
        <button class="btnHome" onclick="window.location.href='../../'">Home</button><button onclick="window.location.href='../../home/myorders'" class="btnMyOrders">My Orders</button><button onclick="window.location.href='../../home/bookcourier'" class="btnOrderMore">
            Order More
        </button>
    </center>
</body>
</html>