@{
    ViewData["Title"] = "Home";
    Layout = "_SiteLayout";
}
<style>
    .modal-content {
        border-radius: 0px !important;
    }

    .modal-footer {
        padding: 0.5rem;
    }


    #btnDownloadReciept i   {
        font-size:20px;
    }
    .steps .step {
        display: block;
        width: 100%;
        margin-bottom: 35px;
        text-align: center
    }

        .steps .step .step-icon-wrap {
            display: block;
            position: relative;
            width: 100%;
            height: 80px;
            text-align: center
        }

            .steps .step .step-icon-wrap::before,
            .steps .step .step-icon-wrap::after {
                display: block;
                position: absolute;
                top: 50%;
                width: 50%;
                height: 3px;
                margin-top: -1px;
                background-color: #e1e7ec;
                content: '';
                z-index: 1
            }

            .steps .step .step-icon-wrap::before {
                left: 0
            }

            .steps .step .step-icon-wrap::after {
                right: 0
            }

        .steps .step .step-icon {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
            border: 1px solid #e1e7ec;
            border-radius: 50%;
            background-color: #f5f5f5;
            color: #374250;
            font-size: 38px;
            line-height: 81px;
            z-index: 5
        }

        .steps .step .step-title {
            margin-top: 16px;
            margin-bottom: 0;
            color: #606975;
            font-size: 14px;
            font-weight: 500
        }

        .steps .step:first-child .step-icon-wrap::before {
            display: none
        }

        .steps .step:last-child .step-icon-wrap::after {
            display: none
        }

        .steps .step.completed .step-icon-wrap::before,
        .steps .step.completed .step-icon-wrap::after {
            background-color: #0da9ef
        }

        .steps .step.completed .step-icon {
            border-color: #0da9ef;
            background-color: #0da9ef;
            color: #fff
        }

    @@media (max-width: 576px) {
        .flex-sm-nowrap .step .step-icon-wrap::before,
        .flex-sm-nowrap .step .step-icon-wrap::after {
            display: none
        }
    }

    @@media (max-width: 768px) {
        .flex-md-nowrap .step .step-icon-wrap::before,
        .flex-md-nowrap .step .step-icon-wrap::after {
            display: none
        }
    }

    @@media (max-width: 991px) {
        .flex-lg-nowrap .step .step-icon-wrap::before,
        .flex-lg-nowrap .step .step-icon-wrap::after {
            display: none
        }
    }

    @@media (max-width: 1200px) {
        .flex-xl-nowrap .step .step-icon-wrap::before,
        .flex-xl-nowrap .step .step-icon-wrap::after {
            display: none
        }
    }

    .bg-faded, .bg-secondary {
        background-color: #f5f5f5 !important;
    }

    #modalTrackCourier h4 {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
<main>

    <div id="modalTrackCourier" class="modal" tabindex="-1" role="dialog" backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                @*<div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>*@
                <div class="modal-body">
                    <div class="container" style="padding:0px">
                        <div class="card" style="border:none">
                            <div class="p-4 text-center text-white text-lg bg-dark rounded-top"><span class="text-uppercase">Tracking Order No - </span><span id="ModalTrackingNo" class="text-medium">34VB5540K83</span></div>
                            <div class="d-flex flex-wrap flex-sm-nowrap justify-content-between py-3 px-2 bg-secondary">
                                <div class="w-100 text-center py-1 px-2"><span class="text-medium">Destination:</span> <span id="modalTrackingDestinantion">Jawal, 307801</span></div>
                                <div class="w-100 text-center py-1 px-2"><span class="text-medium">Status:</span><span id="modalTrackingStatus">Checking Quality</span></div>
                                <div class="w-100 text-center py-1 px-2"><span class="text-medium">Expected Date:</span><span id="modalTrackingDeliveryDate"> SEP 09, 2017</span></div>
                            </div>
                            <div class="card-body">
                                <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
                                    <div class="step completed" id="step1">
                                        <div class="step-icon-wrap">
                                            <div class="step-icon"><i class="pe-7s-cart"></i></div>
                                        </div>
                                        <h4 class="step-title">Confirmed Order</h4>
                                    </div>
                                    <div class="step" id="step2">
                                        <div class="step-icon-wrap">
                                            <div class="step-icon"><i class="pe-7s-box1"></i></div>
                                        </div>
                                        <h4 class="step-title">Picked Up</h4>
                                    </div>
                                    <div class="step " id="step3">
                                        <div class="step-icon-wrap">
                                            <div class="step-icon"><i class="pe-7s-plane"></i></div>
                                        </div>
                                        <h4 class="step-title">In transit</h4>
                                    </div>
                                    <div class="step" id="step4">
                                        <div class="step-icon-wrap">
                                            <div class="step-icon"><i class="pe-7s-home"></i></div>
                                        </div>
                                        <h4 class="step-title">At Destination</h4>
                                    </div>
                                    <div class="step" id="step5"> 
                                        <div class="step-icon-wrap">
                                            <div class="step-icon"><i class="pe-7s-check"></i></div>
                                        </div>
                                        <h4 class="step-title">Product Delivered</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap flex-md-nowrap justify-content-center justify-content-sm-between align-items-center">
                            <div class="custom-control custom-checkbox mr-3">
                                <input class="custom-control-input" type="checkbox" id="notify_me" checked="">
                                <label class="custom-control-label" for="notify_me">Notify me when order is delivered</label>
                            </div>
                            <div class="text-left text-sm-right"><a href="transaction/getinvoice?tid=" class="genric-btn primary"style="color:white"  id="btnDownloadReciept">Download Reciept</a></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="genric-btn danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--? slider Area Start-->
    <div class="slider-area ">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9">
                            <div class="hero__caption">
                                <h1>Safe & Reliable <span>Courier</span> Solutions!</h1>
                            </div>
                            <!--Hero form -->
                            <form action="#" id="FormTrack" class="search-box">
                                <div class="input-form">
                                    <input type="number" required id="trackingNo" placeholder="Your Tracking ID">
                                </div>
                                <div class="search-form">
                                    <a id="btnTrack">Track & Trace</a>
                                </div>
                            </form>
                            <!-- Hero Pera -->
                            <div class="hero-pera">
                                <p>For order status inquiry</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!--? our info Start -->
    <div class="our-info-area pt-70 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-30">
                        <div class="info-icon">
                            <span class="flaticon-support"></span>
                        </div>
                        <div class="info-caption">
                            <p>Call Us Anytime</p>
                            <span>+ (91) 8561-957-277</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-30">
                        <div class="info-icon">
                            <span class="flaticon-clock"></span>
                        </div>
                        <div class="info-caption">
                            <p>Sunday CLOSED</p>
                            <span>Mon - Sat 8.00 - 18.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-30">
                        <div class="info-icon">
                            <span class="flaticon-place"></span>
                        </div>
                        <div class="info-caption">
                            <p>Althan</p>
                            <span>Surat, GJ - 394220</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our info End -->
    <!--? Categories Area Start -->
    <div class="categories-area section-padding30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <span>Our Services</span>
                        <h2>What We Can Do For You</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-shipped"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#">DOX</a></h5>
                            <p>These are consignments with no monetary value and are known as documents or general correspondence.<br>&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-ship"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Non DOX</a></h5>
                            <p>All other consignments classified as dutiable by Customs may be levied customs duties and taxes for entrance into the destination country.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-plane"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Fast Track</a></h5>
                            <p>Fast track logistic services through proficiency, promptness and technology.<br>&nbsp;<br>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories Area End -->
    <!--? About Area Start -->
    <div class="about-low-area padding-bottom" id="AboutUs">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="about-caption mb-50">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-35">
                            <span>About Our Company</span>
                            <h2>Safe Courier & Transport  Solutions That Saves our Valuable Time!</h2>
                        </div>
                        <p>We are one of leader in Asia pacific for courier services, and integrated express package distribution company with high reliability and satisfactory ratio.</p>
                        <p>We have the most extensive domestic network covering over 2600+ locations, and service more than 22 countries and territories worldwide through our group company, Quicksilver global brand name in fast and effective distribution services.</p>
                        <a href="../home/about" class="btn">More About Us</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- about-img -->
                    <div class="about-img ">
                        <div class="about-font-img">
                            <img src="~/frontend/assets/img/gallery/about2.png" alt="">
                        </div>
                        <div class="about-back-img d-none d-lg-block">
                            <img src="~/frontend/assets/img/gallery/about1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Area End -->
    <!--? Testimonial Start -->
    <div class="testimonial-area testimonial-padding section-bg" data-background="./frontend/assets/img/gallery/section_bg04.jpg">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-12 col-lg-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2 mb-25">
                        <span>Clients Testimonials</span>
                        <h2>What Our Clients Say!</h2>
                    </div>
                    <div class="h1-testimonial-active mb-70">
                        <!-- Single Testimonial -->
                        <div class="single-testimonial ">
                            <!-- Testimonial Content -->
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <p>We are wishing best luck to Quicksilver for their future projects and services with industries. They have worked for us for a long term of a period and we are pleased to express our satisfaction with their services.</p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder d-flex align-items-center">
                                    <div class="founder-img">
                                        <img src="~/frontend/assets/img/gallery/Homepage_testi.png" alt="">
                                    </div>
                                    <div class="founder-text">
                                        <span>Amit Suthar</span>
                                        <p>Operation Manager</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Testimonial -->
                        <div class="single-testimonial ">
                            <!-- Testimonial Content -->
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <p>My Company considers Quicksilver Post as one of the prominent courier services and providing efficient, smart and accurate services. They are one of the best services providers we have appointed.</p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder d-flex align-items-center">
                                    <div class="founder-img">
                                        <img src="~/frontend/assets/img/gallery/Homepage_testi.png" alt="">
                                    </div>
                                    <div class="founder-text">
                                        <span>Manish Suthar</span>
                                        <p>Logistic Manager</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
</main>

@section scripts{
    <script>
        //ModalTrackingNo
        //modalTrackingDestinantion
        //modalTrackingStatus
        //modalTrackingDeliveryDate
        //btnDownloadReciept

        function setModalStatus(status) {
            if (status == 1) {
                $("#modalTrackingStatus").text("Confirmed Order");
            } else if (status == 2) {
                $("#modalTrackingStatus").text("Picked Up");
            } else if (status == 3) {
                $("#modalTrackingStatus").text("In transit");
            } else if (status == 4) {
                $("#modalTrackingStatus").text("At Destination");
            } else if (status == 5) {
                $("#modalTrackingStatus").text("Product Delivered");
            }

            $(".step").removeClass("completed");
            for (var i = 1; i <= status; i++) {
                $("#step" + i).addClass("completed");
            }
        }

        $("#btnTrack").on("click", function () {
            var tid = $("#trackingNo").val();
            if (tid == "") {
                $("#trackingNo").focus();
                $("#FormTrack").submit();
            }

            $.ajax({
                url: "../../transaction/TrackCourier?tid=" + tid,
                type: "GET",
                success: function (data) {
                    debugger;
                    console.log(data);
                    $("#ModalTrackingNo").text(tid);
                    $("#modalTrackingDestinantion").text(data.recipientAddress);
                    setModalStatus(data.status);
                    var dt = new Date(data.exDeliveryDate);
                    $("#modalTrackingDeliveryDate").text(dt.toLocaleDateString());
                    $("#btnDownloadReciept").attr("href","/transaction/getinvoice?tid=" + tid);
                    $("#modalTrackCourier").modal('show');
                },
                error: function (err) {
                    $("#modalTrackCourier").modal('hide');
                    toastr.error("Invalid Tracking ID");
                }
            })
        });

        $("#FormTrack").submit(function (e) {
            e.preventDefault();
        });
    </script>
}