@{
    ViewData["Title"] = "Services";
    Layout = "_SiteLayout";
}
<style>
    .card {
        padding: 30px;
        margin: 10px 20px;
        font-family: Poppins, Helvetica, sans-serif !important;
        max-width:80%;
        margin-left:auto;
        margin-right:auto;
    }

    h6 {
        font-weight: 600 !important;
        font-size: 19px !important;
        padding:5px;
    }

    span {
        font-weight: 400;
    }
    .your-orders {
        font-size: 40px;
        font-weight: 600;
        margin: 50px 0px;
    }
    .card button {
        margin: 5px;
        margin-top: 20px;
    }
</style>
<main>
    <div class="container-fluid" style="padding:15px 30px">
        <h4 class="text-center your-orders">Your Orders</h4>
        <div class="card">
            <div class="row">
                <div class="col-8">
                    <h6>Tracking Id: <span>79730137031</span></h6>
                    <h6>Order Date: <span>2021-02-13</span></h6>
                    <h6>Recipient Address: <span>Nai Abadi, Goal Road, Jawal, Sirohi, Rajasthan Pin: 307801</span></h6>
                    <h6>Your Address: <span>Dmart, Bamroli, Surat, Gujrat Pin: 394220</span></h6>
                    <button class="btn btn-success">Download Reciept</button>
                    <button class="btn btn-success">Write Review</button>
                </div>
                <div class="col-4">
                    <h6>Current Status: <span>Picked Up</span></h6>
                    <h6>Exp Delivery Date: <span>2021-02-13</span></h6>
                    <h6>Discount: <span>12%</span></h6>
                    <h6>Grand Total: <span>560.90</span></h6>
                </div>
            </div>
        </div>
    </div>
</main>